<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w2.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1991/xhtml" xml:lang="en">
<head>
<title>Hello</title>
</head>
<body>
<h1>Hello, world.</h1>
<p>
Here is a word from our Controller [% word|html %].
</p>
</body>
</html>

